
#display-area{
    position: relative;
    height: 0;
    width: 600px;
    background-color: chocolate;
    margin-left: 50vh;
    transition: 0.5s;
}

.shape {
    position: absolute;
    cursor: pointer;
    background-color: darkgreen;
}

#square {
    position: absolute;
    cursor: pointer;
    background-color: darkgrey;
}

#rectangle {
    position: absolute;
    cursor: pointer;
    background-color: darkseagreen;
}

#circle {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background-color: green;

}

#triangle {
    position: absolute;
    cursor: pointer;
    border-left: 0px solid transparent;
    background-color: transparent;
}

.side-bar{
   height: 600px;
   width: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   background-color: dimgray;
   overflow: hidden;
   padding-top: 60px;
   transition: 0.5s;
}

.side-bar #close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    margin-right: 40px;
} 

